:root {
  --bg-dark: #22272e;
  --orange: #e07a5f;
  --e-blue: #229ed9;
  --green: #81b29a;
}

@font-face {
  font-family: "oxanium";
  src: url("static/font/Oxanium-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oxanium-bold";
  src: url("static/font/Oxanium-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Otras reglas de estilo globales y estilos específicos de tu aplicación */

/* Reset general */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Eliminar estilos de lista */
ul,
ol {
  list-style: none;
}

/* Eliminar decoración de enlaces */
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-dark);
  /* background-color: gray; */
  font-family: "oxanium-bold";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* ---- grid area -------------- */

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 0.4fr 0.5fr 2.7fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "aside carousel asideR "
    "aside main asideR"
    "footer footer footer";
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.aside {
  grid-area: aside;
}

.asideR {
  grid-area: asideR;
}
.logo {
  grid-area: logo;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

.carousel {
  grid-area: carousel;
}

/* ---------------------------- */


.seacrh-form {
  width: 100%;
}

.aside_container {
  width: 100%;
  margin-top: 130px;
}

aside h2 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

aside ul {
  text-align: right;
  color: #fff;
  margin-top: 20px;
  font-family: "oxanium";
  text-align: justify;
  padding-left: 30%;
}

/* ---------------------------------------------------- */

header {
  width: 100%;
  position: relative;
}


/* ---------------- carousel --------------- */

.carousel .row {
  justify-content: center;
}

.carousel .inner_card {
  border-radius: 5px;
  background-color: #fff;
  height: 100px;
}

/* --------------------------------------------- */

.navbar-brand img {
  filter: invert();
}

/* ------------------ login ----------------------- */
#modalToggle .modal-header,
.modal-body,
.modal-footer {
  background-color: var(--bg-dark);
  color: #fff;
}

#modalToggle .modal-header {
  color: #fff;
}

#modalToggle .modal-header button {
  filter: invert();
}

#modalToggle .login .container {
  margin-top: 20px;
  justify-content: center;
}

#modalToggle .login p {
  text-align: center;
  color: #fff;
}

#modalToggle .login div {
  color: #fff;
  gap: 20px;
}



/* --------------------------------------------------------- */

/* ------------------- registro -----------------------  */

#modalToggle2 .modal-header,
.modal-body,
.modal-footer {
  background-color: var(--bg-dark);
  color: #fff;
}

#modalToggle2 .modal-header {
  color: #fff;
}

#modalToggle2 .modal-header button {
  filter: invert();
}

#modalToggle2 .register .container {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#modalToggle2 .register p {
  text-align: center;
  color: #fff;
}

#modalToggle2 .register div {
  color: #fff;
  gap: 20px;
}

.register .inputs {
  color: #fff;
}

/* ---------------------------------------------- */

/* -------------- main --------------- */

main .container {
  max-width: 80%;
  color: #fff;
  text-align: justify;
}

main .thumbnail {
  border-radius: 10px;
}

main .container button {
  width: 100px;
}
.icon-button {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-button:hover {
  transform: scale(1.2);
}

#publish-modal {
  display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: none;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(128, 61, 61, 0.1);
}

/* Estilo para oscurecer el fondo al mostrar el modal */
#overlay {
  display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

/* ------------------------------------ */

/* ---------- footer ---------- */

.footer p {
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

/* -------------------------------- */
