@media (max-width: 1024px) {
    .aside {
      display: none;
    }
  
    .grid-container {
      grid-template-areas:
        "header header header"
        "carousel carousel carousel"
        "main main main"
        "footer footer footer";
    }
  
    .navbar {
      position: relative;
    }
  
    .login-modal-btn {
      position: absolute;
      top: 100px;
      right: 20px;
      margin: 5px 0 5px 0;
      text-decoration: none;
    }
  
    .aside {
      margin-top: 130px;
    }
  
    .aside img {
      filter: invert();
    }
  
    .aside h2 {
      font-size: 1.5rem;
      padding-left: 30px;
    }
  
    .aside ul {
      margin-top: 20px;
      font-family: "oxanium";
    }
  }
  